.welcome {
    color: white;
    position:fixed;
    top: 8%;
    font-size: 45px;
    font-weight: bold;
    border:0cap;
    margin-bottom: 5%;
}

.home-desc {
    color: white;
    text-align: left;
    position: fixed;
    margin-top: 10%;
    top: 25%;
    
}

.headshot {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    position: fixed;
    top: 10%;
    right: 5%;
}